header {
    background-color: rgba(182, 118, 36, 0.204);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: oblique italic initial;font-size: xx-large;
    text-align: center;
}
main{
    background-image:;
}
body {
    background-color: rgba(187, 187, 74, 0.555);
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique italic;font-size: large;
    text-align:center;
}
